h1{
    text-align: center;
}

#line{
    animation: fadeIn1 250ms 0ms forwards;
}

@keyframes fadeIn1{
    from{
        transform: translateX(-30px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

canvas{
    background-color: transparent;
    width: 50px;
    height: 50px;
}

.canvas{
    padding-left: 564px;
}

#line2{
    animation: fadeIn2 400ms 0ms forwards;
}

@keyframes fadeIn2{
    from{
        transform: translateY(-30px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
    
}

#line3{
    animation: fadeIn3 500ms 0ms forwards;
}

@keyframes fadeIn3{
    from{
        transform: translateY(-30px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
    
}

#line4{
    animation: fadeIn4 700ms 0ms forwards;
}

@keyframes fadeIn4{
    from{
        transform: translateX(30px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

.js{
    border-radius: 100%;
    width: 70px;
    height: 70px;
    animation: fadeIn4 1500ms 0ms forwards;
}

.css{
    border-radius: 100%;
    width: 70px;
    height: 70px;
    animation: fadeIn3 1300ms 0ms forwards;
}

.html{
    border-radius: 100%;    
    width: 70px;
    height: 70px;
    animation: fadeIn2 1100ms 0ms forwards;
}

.python{
    border-radius: 100%;
    width: 70px;
    height: 70px;
    animation: fadeIn1 900ms 0ms forwards;
}

.img{
    padding-left: 528px;
}