.language {
    color: #000!important;
    background-color: #f1f1f1!important
}

.bar{
  color: white;
  background-color: blue;
  text-align: center;
}

img{
  width:50px;
  height: 193px;
}

html{
  margin-left: 375px;
  margin-right: 375px;
}

body{
  margin-left: 120px;
  margin-right: 120px;
  background-image: linear-gradient(to bottom, black , grey);
}

.zoe{
  heigtht: 30px;
  width: 200px;
}

.arrow{
  background: transparent;
  border-color: transparent;
  color: black;
  font-size: 25px;
  margin-left: 22px;
  margin-right: 0px;
  font-family: cursive;
}
#calc, #weather, #mp3, #lotto, #jp{
    width: 150px;
    height: 150px;
    border-radius: 500000px;
    float: left;
    padding: 5px;
}

@media screen and (max-width: 500px){
  .language {
      color: #000 d!important;
      background-color: #f1f1f1 !important
  }

  .bar{
    width: 50px
    color: white;
    background-color: blue;
    text-align: center;
    width: 250px;
  }

  img{
    width:50px;
    height: 600px;
  }

  html{
    margin-left: 375px;
    margin-right: 375px;
  }

  body{
    margin-left: 120px;
    margin-right: 120px;
    background-image: linear-gradient(to bottom, black , grey);
  }

  .zoe{
    heigtht: 30px;
    width: 200px;
  }

  .arrow{
    background: transparent;
    border-color: transparent;
    color: black;
    font-size: 25px;
    margin-left: 120px;
    margin-right: 120px;
    font-family: cursive;
  }
  #calc, #weather, #mp3, #lotto, #jp{
      width: 150px;
      height: 150px;
      border-radius: 500000px;
      float: left;
      padding: 5px;
  }
}
