.lotto{
  border-radius: 50px;
  width: 224px;
  height: 259px;
  margin-left: 159px;
}

.weather{
  border-radius: 50px;
  width: 224px;
  height: 259px;
  margin-left: 159px;
}

mp3{
  border-radius: 50px;
  width: 224px;
  height: 259px;
  margin-left: 159px;
}

h4{
  color: black;
}
