.lotto{
  border-radius: 50px;
  width: 224px;
  height: 259px;
  margin-left: 159px;
}

.weather{
  border-radius: 50px;
  width: 224px;
  height: 259px;
  margin-left: 407px;
  margin-top: -258px;
}

.mp3{
  border-radius: 50px;
  width: 224px;
  height: 259px;
  margin-left: 610px;
  margin-top: -258px;
}

h4{
  color: black;
}

h1{
  padding: 0;
  margin-left: 746px;
  margin-right: 220px;
}

.calc{
  width: 50px;
  height: 50px;
}
